Package: com.mootjeuh.PrettierBanners
Name: Prettier Banners
Depends: mobilesubstrate
Version: 0.4
Architecture: iphoneos-arm
Description: Show more info about contact in banners
Maintainer: Mohamed Marbouh
Author: Mohamed Marbouh
Section: Tweaks
